/*General*/

body{
    background-color: rgb(24, 24, 26);
    color: white;
    font-family: "HWYGNRRW.TTF";
}

@font-face {
    font-family: "HWYGNRRW.TTF";
    src: url("/fonts/HWYGNRRW.TTF");
    /*Font (Highway Gothic) downloaded from DaFont.com*/
}

audio{
    position: absolute;
    width: 250px;
    bottom: 80px;
    left: 81%;
}

.textAudios{
    position: absolute;
    bottom: 133px;
    left: 82%;
}

.textStory{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 20px;
}

.avancerText{
    position: absolute;
    bottom: -7px;
    right: 40px;
    text-align: center;
    font-size: 20px;
    transition: transform 0.5s ease;
    color: rgb(255, 255, 255);
}

.avancerText:hover{
    transform: scale(1.15);
}

.avancerTextStoryColor{
    color: orange;
}

.continuerText{
    position: absolute;
    bottom: -7px;
    right: 40px;
    text-align: center;
    font-size: 20px;
    transition: transform 0.5s ease;
    color: rgb(214, 200, 157);
}

.continuerText:hover{
    transform: scale(1.05);
}

.titleScenes{
    text-align: center;
    align-items: center;
    padding-top: 15px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.395);
}

#retryButton{
    position: absolute;
    bottom: 130px;
    left: 39%;
    text-align: center;
    font-size: 30px;
    transition: transform 0.5s ease;
    color: #6f0900;
    background-color: rgba(0, 0, 0, 0.886);
    width: 22%;
    height: auto;
}

#retryButton:hover{
    transform: scale(1.15);
}

#startScreenButton{
    position: absolute;
    bottom: 15px;
    left: 36.5%;
    text-align: center;
    font-size: 30px;
    transition: transform 0.5s ease;
    color: #ddd157;
    background-color: rgba(0, 0, 0, 0.471);
    width: 25%;
    height: auto;
    font-size: 20px;
}

#startScreenButton:hover{
    transform: scale(1.15);
}

#victoryButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0.858);
    width: 100%;
    height: auto;
    text-align: center;
    color: rgb(229, 229, 46);
}

/* Scenes Position Template

    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url() center/cover; 
    
*/


/*Game Main Menu*/

#MainMenu{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/MaliceEtDeliceBackground.png) center/cover; 
    /*Image generated with Clipfly*/
}

.title{
    position: absolute;
    top: 480px;
    left: 30px;
    font-size: 40px;
}

.titleMainMenu{
    position: absolute;
    top: 530px;
    left: 30px;
    font-size: 20px;
}

#HotelDoors{
    position: absolute;
    width: 228px;
    height: 279px;
    left: 287px;
    top: 208px;
}

#HotelDoors:hover{
    background-color: rgba(93, 16, 6, 0.110);
}

#portesHotel{
    color: rgb(211, 62, 42);
}


/*Intro*/

#sceneIntro{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/ElevatorEntrance.png) center/cover;
    /*Image generated with Raphael AI*/
}

#elevatorDoors{
    position: absolute;
    width: 123px;
    height: 242px;
    left: 340px;
    top: 200px;
}

#elevatorDoors:hover{
    background-color: rgba(66, 40, 18, 0.162);
}

#elevatorTextStory{
    color: #9b6c3e;
}


/*Elevator Inside*/

#sceneElevator{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/ElevatorInside.png) center/cover;
    /*Image generated with ChatGPT*/
}

#etageColor{
    color: rgb(215, 178, 77);
}

#firstFloor{
    position: absolute;
    border-radius: 50%;
    width: 115px;
    height: 120px;
    top: 375px;
    left: 419px;
}

#firstFloor:hover{
    background-color: rgba(255, 243, 212, 0.023);
}

#secondFloor{
    position: absolute;
    border-radius: 50%;
    width: 115px;
    height: 120px;
    top: 212px;
    left: 420px;
}

#secondFloor:hover{
    background-color: rgba(255, 243, 212, 0.023);
}

#thirdFloor{
    position: absolute;
    border-radius: 50%;
    width: 115px;
    height: 120px;
    top: 47px;
    left: 420px;
}

#thirdFloor:hover{
    background-color: rgba(255, 243, 212, 0.023);
}


/* The Room of Fire */

#roomOfFireScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheRoomOfFire.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#goodChoiceRoomOfFire{
    position: absolute;
    width: 60px;
    height: 100px;
    left: 80px;
    top: 138px;
}

#badChoiceRoomOfFire{
    position: absolute;
    width: 60px;
    height: 223px;
    right: 50px;
    top: 139px;
}

#telephoneText{
    color: #c5c0f3;
}

#extincteurText{
    color: #e96054;
}

#roomOfFireGoodScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/RoomOfFireGoodSceneImage.jpg) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#roomOfFireBadScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/RoomOfFireBadScene.jpg) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}


/* The Mountain of Hope */

#mountainOfHopeScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheMountainOfHope.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#grimperText{
    color: #db9865;
}

#sautText{
    color: #8dccdf;
}

#goodChoiceMountainOfHope{
    position: absolute;
    text-align: center;
    color: white;
    background-color: #2c3d42;
    left: 150px;
    bottom: 220px;
    width: 12%;
    border-radius: 8px;
    transition: transform 0.8s ease;
}

#goodChoiceMountainOfHope:hover{
    transform: scale(1.25);
}

#badChoiceMountainOfHope{
    position: absolute;
    text-align: center;
    color: white;
    background-color: #5f412c;
    right: 150px;
    top: 100px;
    width: 12%;
    border-radius: 8px;
    transition: transform 0.8s ease;
}

#badChoiceMountainOfHope:hover{
    transform: scale(1.25);
}

#mountainOfHopeGoodScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/MountainOfHopeGoodScene.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#mountainOfHopeBadScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/MountainOfHopeBadScene.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}


/* The Cabin and the tall grass*/

#cabinAndTallGrass{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheCabinandTheTallGrass.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#porteCabaneColorText{
    color: #a27a66;
}

#herbeColorText{
    color: #a79f43;
}

#badChoiceCabinAndTallGrass{
    position: absolute;
    width: 93px;
    height: 300px;
    left: 34px;
    top: 175px;
}

#badChoiceCabinAndTallGrass:hover{
    background-color: #857c6106;
}

#goodChoiceCabinAndTallGrass{
    position: absolute;
    width: 339px;
    height: 175px;
    left: 460px;
    top: 267px;
}

#goodChoiceCabinAndTallGrass:hover{
    background-color: #d1822107;
}

#cabinAndTallGrassGoodScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheCabinandTheTallGrassGoodScene.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}

#cabinAndTallGrassBadScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheCabinandTheTallGrassBadScene.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}


/* The Fourth Floor */

#fourthFloorScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/TheFourthFloor.png) center/cover;
    /* Image generated with Perchance.org AI Image Generator */
}


/* Death */

#deathScene{
    position: relative;
    width: 800px;
    height: 600px;
    margin: 24px auto;
    background: url(/images/DeathElevator.png) center/cover; 
    /* Image generated with Perchance.org AI Image Generator*/
}

#YouDiedimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ChatGPT line */ /* Moves the element up and left by half of its own size to perfectly center it within its container */
    width: 800px;
    height: auto;
    margin: 24px auto;
    /*Image taken from Devianart by TACKYinsertion8*/
}